<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ClienteMapper">

    <select id="selectClienteById" parameterType="int" resultType="modelos.Cliente">
        select * from cliente where id_cliente = #{id}
    </select>

    <select id="getClientes" resultType="modelos.Cliente">
        select * from cliente
    </select>

    <update id="modificarCliente" parameterType="modelos.Cliente">
        update cliente set
        nombre = #{nombre},
        apellidos = #{apellidos},
        cedula = #{cedula},
        email = #{email}
        where id_cliente = #{id_cliente}
    </update>

    <delete id="eliminarCliente" parameterType="int">
        delete from cliente where id_cliente = #{id_cliente};
    </delete>

</mapper>