<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductoDuplicadoMapper">

    <insert id="agregarProductoDuplicado" parameterType="modelos.ProductoDuplicado" useGeneratedKeys="true" keyProperty="id_producto_duplicado">
        insert into productoduplicado(cantidad, cod_producto)
        values (#{cantidad}, #{cod_producto});
    </insert>

    <update id="modificarProductoDuplicado" parameterType="modelos.ProductoDuplicado">
        update productoduplicado set
        cantidad = #{cantidad},
        cod_producto = #{cod_producto}
        where id_producto_duplicado = #{id_producto_duplicado}
    </update>


    <select id="buscarProductoDuplicadoPorCodProducto" parameterType="Integer" resultType="modelos.ProductoDuplicado">
        select * from productoduplicado where cod_producto = #{cod_producto}
    </select>
</mapper>
