<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductoDuplicadoMapper">

    <resultMap id="productoDupicadoResult" type="modelos.ProductoDuplicado">
        <id column="id_producto_duplicado" property="id_producto_duplicado" javaType="Integer" />
        <result column="cantidad" property="cantidad" javaType="Integer" />
        <association property="producto" column="cod_producto" resultMap="productoResult" />
    </resultMap>


    <resultMap id="proveedorResult" type="modelos.Proveedor" >
        <id column="id_proveedor" property="idProveedor" javaType="int" />
        <result column="nombre" property="nombre" javaType="String" />
        <result column="telefono" property="telefono" javaType="String" />
        <result column="direccion" property="direccion" javaType="String" />
    </resultMap>

    <resultMap id="productoResult" type="modelos.Producto">
        <id column="id_producto" property="id_producto" javaType="Integer" />
        <result column="nombre" property="nombre" javaType="String" />
        <result column="cantidad" property="cantidad" javaType="int" />
        <result column="precio_unitario" property="precioUnitario" javaType="Float" />
        <result column="descripcion" property="descripcion" javaType="String" />
        <association property="proveedor" column="id_proveedor" resultMap="proveedorResult" />
    </resultMap>



    <select id="buscarProducto" parameterType="int" resultMap="productoResult">

        select id_producto as id_producto, producto.nombre as nombre, cantidad as cantidad, precio_unitario as precio_unitario, descripcion as descripcion, proveedor.id_proveedor, proveedor.nombre, proveedor.telefono, proveedor.direccion from producto inner join proveedor on proveedor.id_proveedor = proveedor.id_proveedor
        where producto.id_producto = #{idProducto};



    </select>

    <select id="buscarProductoDuplicadoPorProducto" parameterType="modelos.Producto" resultMap="productoDupicadoResult">
        select id_producto_duplicado as id_producto_duplicado, cantidad as cantidad, producto.id_producto, producto.nombre, producto.cantidad, producto.precio_unitario, producto.descripcion, proveedor.id_proveedor, proveedor.nombre, proveedor.telefono, proveedor.direccion from productoduplicado inner join producto on producto.id_producto = producto.id_producto
        where productodupicado.cod_producto.id_producto = #{cod_producto};
    </select>


    <insert id="guardarProductoDuplicado" parameterType="modelos.ProductoDuplicado" useGeneratedKeys="true" keyProperty="id_producto_duplicado">
        insert into productoduplicado (cantidad, cod_producto)
        values (#{cantidad}, #{cod_producto.id_producto});
    </insert>

    <select id="buscarProductoPorNombre" parameterType="String" resultType="modelos.Producto">
        select * from producto where nombre = #{nombre}
    </select>

    <update id="upDate" parameterType="modelos.ProductoDuplicado">
        update productoduplicado set
        cantidad = #{cantidad},
        cod_producto = #{cod_producto.id_producto}
        where id_producto_duplicado = #{id_producto_duplicado}
    </update>


</mapper>
