<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProveedorMapper">

    <!--    sentencias sq para cliente-->
    <select id="getProveedor" parameterType="int" resultType="modelos.Proveedor">
        select * from proveedor where id_proveedor = #{id}
    </select>

    <select id="getProveedores" resultType="modelos.Proveedor">
        select * from proveedor
    </select>

    <insert id="agregarProveedor" parameterType="modelos.Proveedor" useGeneratedKeys="true" keyProperty="id_proveedor">
        insert into proveedor (direccion, nombre, telefono)
        values (#{direccion}, #{nombre}, #{telefono});
    </insert>

    <update id="modificarProveedor" parameterType="modelos.Proveedor">
        update proveedor set
        nombre = #{nombre},
        direccion = #{direccion},
        telefono = #{telefono}
        where id_proveedor = #{id_proveedor}
    </update>

    <delete id="eliminarProveedor" parameterType="int">
        delete from proveedor where id_proveedor = #{id_proveedor};
    </delete>

</mapper>